<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="../css/bootstrap-3.3.7.min.css">
<link rel="stylesheet" href="../css/bootstrap-dialog.min.css">
<link rel="stylesheet" href="../css/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" href="../css/transfer.css">

</head>

<body ng-app="myApp" ng-controller="getBetHistoryController">
	<div class="container">
		<div class="row">
			<div class="col-md-9 col-md-offset-right-2">
				<h2>Get Bet History</h2>
				<div class="panel panel-login">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-6">
								<a href="#" class="active" ng-model="keno_channel" id="keno-channel" ng-init="keno_channel = true">Keno</a>
							</div>
							<div class="col-xs-6">
								<a href="#" ng-model="ilotto_channel" id="ilotto-channel" ng-init="ilotto_channel = false">iLotto</a>
							</div>
						</div>
						<hr>
						<br>
						<div class="row">
							<div class="col-xs-4">
								<a href="#" class="active" id="dev-lotto-form-link">Dev</a>
							</div>
							<div class="col-xs-4">
								<a href="#" id="staging-lotto-form-link">Staging</a>
							</div>
							<div class="col-xs-4">
								<a href="#" id="prod-lotto-form-link">Prod</a>
							</div>
						</div>
						<hr>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">
								<form id="deposit-form" action="" method="post" role="form" style="display: block;">
								
									<div class="form-group">
										<label for="dtp_input" class="control-label">beginDate</label>
										<div class="input-group date form_datetime" data-date="2017-10-01T15:21:00" data-date-format="yyyymmddThhiiss">
											<input class="form-control" size="16" type="text" ng-model="getBetHistoryReq.beginDate" id="beginDateOfBetHisReq" tabindex="1" class="form-control" placeholder="Begin Date" ng-init="getBetHistoryReq.beginDate ='20171001T152100'">
											<span class="input-group-addon">
												<span class="glyphicon glyphicon-remove"></span>
											</span>
											<span class="input-group-addon">
												<span class="glyphicon glyphicon-calendar"></span>
											</span>
										</div>
									</div>

									<div class="form-group">
										<label for="dtp_input" class="control-label">endDate</label>
										<div class="input-group date form_datetime" data-date="2017-11-02T15:11:00" data-date-format="yyyymmddThhiiss">
											<input class="form-control" size="16" type="text" ng-model="getBetHistoryReq.endDate" id="endDateOfBetHisReq" tabindex="2" class="form-control" placeholder="End Date" ng-init="getBetHistoryReq.endDate ='20171102T151100'">
											<span class="input-group-addon">
												<span class="glyphicon glyphicon-remove"></span>
											</span>
											<span class="input-group-addon">
												<span class="glyphicon glyphicon-calendar"></span>
											</span>
										</div>
									</div>

									<div class="form-group">
										<label for="">pageIndex</label>
										<input type="text" name="" ng-model="getBetHistoryReq.pageIndex" id="pageIndexOfBetHisReq" tabindex="3" class="form-control" placeholder="Page Index" ng-init="getBetHistoryReq.pageIndex ='0'">
									</div>
									<div class="form-group">
										<label for="">merchantCode</label>
										<input type="text" name="" ng-model="getBetHistoryReq.merchantCode" id="merchantCodeOfBetHisReq" tabindex="4" class="form-control" placeholder="Merchant Code" ng-init="getBetHistoryReq.merchantCode ='TEST'">
									</div>
									<div class="form-group">
										<label for="">Response Log</label>
										<textarea rows="8" name="" ng-model="getBetHistoryRes" id="getBetHistoryRes" tabindex="5" class="form-control" placeholder="Response Log"></textarea>
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
												<input type="button" name="submit" ng-click="submitGetBetHis()" id="submitGetBetHis" tabindex="6" class="form-control btn btn-deposit" value="Submit">
											</div>
										</div>
									</div>

								</form>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="../js/jquery/jquery-3.2.1.js"></script>
	<script src="../js/bootstrap/bootstrap-3.3.7.min.js"></script>
	<script src="../js/bootstrap/bootstrap-dialog.min.js"></script>
	<script src="../js/bootstrap/bootstrap-datetimepicker.min.js"></script>
	<script src="../js/angular/angular-1.6.6.min.js"></script>
	<script src='../js/getBetHistory.js'></script>
</html>